
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_LayoutElement.cshtml";
}

</div>
<!-- Navbar & Hero End -->
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb hizmetlerimiz">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-white display-3 mb-4 wow fadeInDown" data-wow-delay="0.1s">
            Hizmetlerimiz</h3>
            <ol class="breadcrumb justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                <li class="breadcrumb-item"><a href="index.html">Anasayfa</a></li>
                <li class="breadcrumb-item active text-primary">Hizmetlerimiz</li>
            </ol>
    </div>
</div>
<!-- Header End -->
<!-- Services Start -->
<div class="container-fluid service py-5">
    <div class="container py-5">
        <div class="row g-4 justify-content-center">
            <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded">
                    <div class="service-img rounded-top">
                        <img src="~/img/proje.jpg" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="service-content rounded-bottom bg-light p-4">
                        <div class="service-content-inner">
                            <h5 class="mb-4">Projelendirme</h5>
                            <p class="mb-4">Projelendirme ile yapıların elektrik sistemlerinin güvenliği, performansı, işlevselliği ve maliyet etkinliği açısından optimize edilmesi sağlanır. Yapılarda amaca uygun konsept ihtiyacını karşılayacak işlevsellik ve devamlılık esaslı projelendirme hizmeti sağlıyoruz.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded">
                    <div class="service-img rounded-top">
                        <img src="~/img/taahhut.jpg" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="service-content rounded-bottom bg-light p-4">
                        <div class="service-content-inner">
                            <h5 class="mb-4">Taahhüt</h5>
                            <p class="mb-4">Üst yapı ve alt yapı projelerinde kullanım ihtiyacına ve kullanılacak alana göre kuvvetli akım ve zayıf akım sistemleri içerisinde yer alan hizmetlerin sağlanması, devreye alınması ve kontrollerinin yapılması gibi elektrik taahhüt hizmetleri vermekteyiz.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded">
                    <div class="service-img rounded-top">
                        <img src="~/img/muhendislik.jpg" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="service-content rounded-bottom bg-light p-4">
                        <div class="service-content-inner">
                            <h5 class="mb-4">Mühendislik</h5>
                            <p class="mb-4">Yaşam ve çalışma alanlarında, uzmanlık gerektiren mühendislik projelerine optimal çözümlerle yaklaşarak,  tüm proje sürecini disiplinler arası etkileşimle yöneten ve proje yönetim metodolojilerine hakim mühendislik hizmeti sağlamaktayız.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded">
                    <div class="service-img rounded-top">
                        <img src="~/img/danismanlik.jpg" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="service-content rounded-bottom bg-light p-4">
                        <div class="service-content-inner">
                            <h5 class="mb-4">Danışmanlık</h5>
                            <p class="mb-4">Mevzuat değişikliklerinin takip edilmesi, uygulaması, enerji sağlayıcı ve dağıtım şirketlerindeki lisans izinleri, proje ve bağlantı işlemlerinin uygulanması ve takip edilmesi, enerji talep tahminlerinin yapılması ve sistem enerji kalitesinin analizlerinin yapılması gibi danışmanlık hizmetleri vermekteyiz.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded">
                    <div class="service-img rounded-top">
                        <img src="~/img/musavirlik.jpg" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="service-content rounded-bottom bg-light p-4">
                        <div class="service-content-inner">
                            <h5 class="mb-4">Müşavirlik</h5>
                            <p class="mb-4">Enerji sistemlerinin yanlış düzenlenmesi ve işletilmesi yüksek maliyet-düşük verimlilik sorunsalını beraberinde getirir. Enerji maliyetlerini düşürücü ve operasyonel verimliliği arttırmak adına müşavirlik hizmeti sunuyoruz.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->

