
@{
    ViewData["Title"] = "FinishProjects";
    Layout = "~/Views/Shared/_LayoutElement.cshtml";
}

</div>
<!-- Navbar & Hero End -->
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb tamamlanan-projelerimiz">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-white display-3 mb-4 wow fadeInDown" data-wow-delay="0.1s">
            Tamamlanan Projelerimiz</h1>
            <ol class="breadcrumb justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                <li class="breadcrumb-item"><a href="index.html">Anasayfa</a></li>
                <li class="breadcrumb-item active text-primary">Tamamlanan Projelerimiz</li>
            </ol>
    </div>
</div>
<!-- Header End -->
<!-- Project Start -->
<div class="container-fluid project py-5">
    <div class="container py-5">
        <div class="row g-3 justify-content-center">

            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">


                    <div class="project-img rounded-top">
                        <img src="~/img/iyzico.png" class="img-fluid rounded-top w-100 " alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 class="mb-4" style="text-align: center;">iyzi Ödeme ve Elektronik Para Hizmetleri A.Ş</h5>
                            <p class="mb-4" style="text-align: center;"> 2023 / İstanbul</p>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">

                    <div class="project-img rounded-top">
                        <img src="~/img/magnoliashop.svg" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">Magnolia Shop - Meydan AVM Şubesi</h5>
                            <p style="text-align: center;" class="mb-4">2023 / İstanbul</p>
                        </div>
                    </div>

                </div>
            </div>



            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">

                    <div class="project-img rounded-top">
                        <img src="~/img/referanslar - firmalogolari/20roketsanlogo.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">ROKETSAN Roket Sanayii ve Ticaret AŞ</h5>
                            <p style="text-align: center;" class="mb-4">2023 / Ankara</p>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/referanslar - firmalogolari/2cookshoplogo.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">COOKHOP</h5>
                            <p style="text-align: center;" class="mb-4">2023 / İstanbul / Ankara</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/referanslar - firmalogolari/11fortinetlogo.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">Fortinet - Emaar Square Ofis</h5>
                            <p style="text-align: center;" class="mb-4">2023 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>





            <!--<div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                   <div class="project-img rounded-top">
                        <img src="img/referanslar - firmalogolari/2cookshoplogo.png" class="img-fluid rounded-top w-100" alt="">
                   </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">COOKHOP - Nevçarşı Şubesi</h5>
                            <p style="text-align: center;" class="mb-4">2023 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>-->

            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/referanslar - firmalogolari/21eminresidencelogo.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">Emin Residence</h5>
                            <p style="text-align: center;" class="mb-4">2022 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/referanslar - firmalogolari/19beytistlogo.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">Beytist Interior Design Studio</h5>
                            <p style="text-align: center;" class="mb-4">2022 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/carlucciologo.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">Carluccio's Rest. ve Obico Bar - Akasya AVM Şubesi </h5>
                            <p style="text-align: center;" class="mb-4">2022 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/referanslar - firmalogolari/17fagorlogo.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">Fagor Endüstriyel Day.Tük. Mam.San.Tic.A.Ş.</h5>
                            <p style="text-align: center;" class="mb-4">2022 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                   <div class="project-img rounded-top">
                        <img src="img/referanslar - firmalogolari/2cookshoplogo.png" class="img-fluid rounded-top w-100" alt="">
                   </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">COOKHOP -  Cadde 54 AVM Şubesi</h5>
                            <p style="text-align: center;" class="mb-4">2022 / Sakarya</p>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                   <div class="project-img rounded-top">
                        <img src="img/referanslar - firmalogolari/2cookshoplogo.png" class="img-fluid rounded-top w-100" alt="">
                   </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">COOKSHOP - City's Nişantaşı Şubesi</h5>
                            <p style="text-align: center;" class="mb-4">2022 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                   <div class="project-img rounded-top">
                        <img src="img/referanslar - firmalogolari/2cookshoplogo.png" class="img-fluid rounded-top w-100" alt="">
                   </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">COOKSHOP Arkabahçe - Meydan AYM Şubesi</h5>
                            <p style="text-align: center;" class="mb-4">2022 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                   <div class="project-img rounded-top">
                        <img src="img/referanslar - firmalogolari/2cookshoplogo.png" class="img-fluid rounded-top w-100" alt="">
                   </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">COOKHOP - GALLERİA AVM Şubesi</h5>
                            <p style="text-align: center;" class="mb-4">2022 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>-->

            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/referanslar - firmalogolari/6tobblogo.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">TOOB - İstanbul Hizmet Binası</h5>
                            <p style="text-align: center;" class="mb-4">2022 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/referanslar - firmalogolari/2cookshoplogo.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">COOKSHOP Şubeleri</h5>
                            <p style="text-align: center;" class="mb-4">2022 / İstanbul / Ankara / Bursa / Sakarya / Mersin</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/referanslar - firmalogolari/13abblogo.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">ABB Elektrik Sanayi A.Ş.</h5>
                            <p style="text-align: center;" class="mb-4">2022 / İzmit</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/referanslar - firmalogolari/18muuttologo.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">Muutto Anatolian Tapas Bar - Galataport Şubesi</h5>
                            <p style="text-align: center;" class="mb-4">2022 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/referanslar - firmalogolari/1magnolialogo.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4"> Magnolia Shop - City's Kozyatağı</h5>
                            <p style="text-align: center;" class="mb-4">2022 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/referanslar - firmalogolari/34isslogo.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">ISS Türkiye Genel Müdürlük</h5>
                            <p style="text-align: center;" class="mb-4">2022 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/fenerbahce.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">Fenerbahçe Şükrü Saraçoğlu Stadyumu - VIP Salonları</h5>
                            <p style="text-align: center;" class="mb-4">2022 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/referanslar - firmalogolari/8sintaslogo.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">Sintaş Boya ve Kimya San.A.Ş</h5>
                            <p style="text-align: center;" class="mb-4">2022 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/alkimlogosiyah.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">Alkım Tekstil</h5>
                            <p style="text-align: center;" class="mb-4">2022 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/Statkraft-1024x1024.jpg" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">Statkraft Enerji A.Ş. - Emaar Square AVM</h5>
                            <p style="text-align: center;" class="mb-4">2022 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/trumpflogoiki.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">TRUMPF Makina Sanayii A.Ş. </h5>
                            <p style="text-align: center;" class="mb-4">2022 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                   <div class="project-img rounded-top">
                        <img src="img/referanslar - firmalogolari/2cookshoplogo.png" class="img-fluid rounded-top w-100" alt="">
                   </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">COOKHOP - Podyumpark AVM Şubesi</h5>
                            <p style="text-align: center;" class="mb-4">2022 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>-->

            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/referanslar - firmalogolari/18muuttologo.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">Muutto - Fişekhane Şubesi</h5>
                            <p style="text-align: center;" class="mb-4">2022 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                   <div class="project-img rounded-top">
                        <img src="img/referanslar - firmalogolari/2cookshoplogo.png" class="img-fluid rounded-top w-100" alt="">
                   </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">COOKHOP - Galataport Şubesi</h5>
                            <p style="text-align: center;" class="mb-4">2021 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                   <div class="project-img rounded-top">
                        <img src="img/referanslar - firmalogolari/2cookshoplogo.png" class="img-fluid rounded-top w-100" alt="">
                   </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">COOKHOP - Şaşkınbakkal Şubesi</h5>
                            <p style="text-align: center;" class="mb-4">2021 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>-->
            <!--<div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                   <div class="project-img rounded-top">
                        <img src="img/referanslar - firmalogolari/2cookshoplogo.png" class="img-fluid rounded-top w-100" alt="">
                   </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">COOKHOP - Capacity AVM Şubesi</h5>
                            <p style="text-align: center;" class="mb-4">2021 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                   <div class="project-img rounded-top">
                        <img src="img/referanslar - firmalogolari/2cookshoplogo.png" class="img-fluid rounded-top w-100" alt="">
                   </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">COOKHOP - Podyum Park AVM Şubesi</h5>
                            <p style="text-align: center;" class="mb-4">2021 / Bursa</p>
                        </div>
                    </div>
                </div>
            </div>-->
            <!--<div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                   <div class="project-img rounded-top">
                        <img src="img/referanslar - firmalogolari/2cookshoplogo.png" class="img-fluid rounded-top w-100" alt="">
                   </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">COOKHOP - Sayapark AVM Şubesi</h5>
                            <p style="text-align: center;" class="mb-4">2021 / Mersin</p>
                        </div>
                    </div>
                </div>
            </div>-->

            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/referanslar - firmalogolari/9sumitomologo.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">Sumitomo Corporation Dış Ticaret A.Ş.</h5>
                            <p style="text-align: center;" class="mb-4">2021 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/t-systemslogo.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">T-Systems Telekomünikasyon Ltd. Şti.</h5>
                            <p style="text-align: center;" class="mb-4">2021 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/referanslar - firmalogolari/7ozersoylarlogo.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">Özersoylar Dış Ticaret A.Ş. - Emaar Square AVM</h5>
                            <p style="text-align: center;" class="mb-4">2021 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                   <div class="project-img rounded-top">
                        <img src="img/referanslar - firmalogolari/2cookshoplogo.png" class="img-fluid rounded-top w-100" alt="">
                   </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">COOKHOP - Watergarden AVM Şubesi</h5>
                            <p style="text-align: center;" class="mb-4">2021 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>-->
            <!--<div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                   <div class="project-img rounded-top">
                        <img src="img/referanslar - firmalogolari/2cookshoplogo.png" class="img-fluid rounded-top w-100" alt="">
                   </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">COOKHOP - İstinye Park AVM Şubesi</h5>
                            <p style="text-align: center;" class="mb-4">2021 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>-->

            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/referanslar - firmalogolari/12ticketlogo.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">Edenred - Vadi İstanbul</h5>
                            <p style="text-align: center;" class="mb-4">2021 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/referanslar - firmalogolari/16infoyatirimlogo.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">Info Yatırım Menkul Değerler - Apa Giz Plaza</h5>
                            <p style="text-align: center;" class="mb-4">2021 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/referanslar - firmalogolari/13abblogo.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">ABB Elektrik Sanayi A.Ş. - Hilltown Merkez Ofis</h5>
                            <p style="text-align: center;" class="mb-4">2021 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/referanslar - firmalogolari/14digiturklogo.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">Krea İçerik Hizmetleri ve Prodüksiyon A.Ş.</h5>
                            <p style="text-align: center;" class="mb-4">2021 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/referanslar - firmalogolari/2cookshoplogo.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">COOKSHOP Şubeleri</h5>
                            <p style="text-align: center;" class="mb-4">2021 / İstanbul / Muğla / Mersin</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                   <div class="project-img rounded-top">
                        <img src="img/referanslar - firmalogolari/2cookshoplogo.png" class="img-fluid rounded-top w-100" alt="">
                   </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">COOKHOP - Erenköy</h5>
                            <p style="text-align: center;" class="mb-4">2021 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>-->
            <!--<div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                   <div class="project-img rounded-top">
                        <img src="img/referanslar - firmalogolari/2cookshoplogo.png" class="img-fluid rounded-top w-100" alt="">
                   </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">COOKHOP - Avenue AVM Şubesi</h5>
                            <p style="text-align: center;" class="mb-4">2021 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>-->

            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/35pernord.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">Pernod Ricard - Spine Tower</h5>
                            <p style="text-align: center;" class="mb-4">2021 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/ielevlogo.jpg" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">İELEV Konferans Salonu</h5>
                            <p style="text-align: center;" class="mb-4">2021 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/maislogo.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">Renault Mais - Levent Tower</h5>
                            <p style="text-align: center;" class="mb-4">2021 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/referanslar - firmalogolari/31marslojistik.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">Mars Logistic - Merkez Ofis</h5>
                            <p style="text-align: center;" class="mb-4">2020 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/witturlogo.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4" style="height: 200px;">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">Wittur Asansör</h5>
                            <p style="text-align: center;" class="mb-4">2020 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/allianz.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">Allianz Sigorta - Parima Ofis</h5>
                            <p style="text-align: center;" class="mb-4">2020 / İstanbul</p>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/referanslar - firmalogolari/30bntelekom.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">BN Telekom Haberleşme Tic. A.Ş.</h5>
                            <p style="text-align: center;" class="mb-4">2020 / İstanbul</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/referanslar - firmalogolari/cafenerologo.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">Cafe Nero Şubeleri</h5>
                            <p style="text-align: center;" class="mb-4">2020 / İstanbul</p>

                        </div>
                    </div>
                </div>
            </div>



















        </div>
    </div>
</div>









<!--<div class="container py-5 text-center">
    <table class="table table-responsive table-striped table-hover">
        <thead>
            <tr>-->
<!--<th scope="col">Firma Adı</th>-->
<!--<th scope="col">Proje Ayrıntısı</th>
                <th scope="col">Proje Yılı</th>
                <th scope="col">Proje İlçe / İl</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none"; >A4 Mimarlık ve İnşaat Ltd. Şti.</th>
                <td>İyzico Ofis Elektrik Proje ve Uygulama İşleri</td>
                <td>2023</td>
                <td>Üsküdar / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none"; >EFK İnşaat Turizm ve Sanayi A.Ş.</th>
                <td>Magnolia</td>
                <td>2023</td>
                <td>----</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none"; >DES Mimarlık</th>
                <td>ROKETSAN Ofis Elektrik Uygulama İşleri</td>
                <td>2023</td>
                <td>Elmadağ / Ankara</td>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none"; >EFK İnşaat Turizm ve Sanayi A.Ş.</th>
                <td>COOKSHOP - Kentpark AVM</td>
                <td>2023</td>
                <td>Çankaya / Ankara</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none"; >EFK İnşaat Turizm ve Sanayi A.Ş.</th>
                <td>COOKSHOP - Kentpark AVM</td>
                <td>2023</td>
                <td>Çankaya / Ankara</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none"; >EFK İnşaat Turizm ve Sanayi A.Ş.</th>
                <td>Magnolia - Meydan AVM</td>
                <td>2023</td>
                <td>Ümraniye / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none"; >A4 Mimarlık ve İnşaat Ltd. Şti.</th>
                <td>Fortinet EMAAR Ofis Elektrik Proje ve Uygulama İşleri</td>
                <td>2023</td>
                <td>Üsküdar / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none";>EFK İnşaat Turizm ve Sanayi A.Ş.</th>
                <td>COOKSHOP - NEVÇARŞI</td>
                <td>2023</td>
                <td>Üsküdar / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none";>EFK İnşaat Turizm ve Sanayi A.Ş.</th>
                <td>Magnolia</td>
                <td>2023</td>
                <td>-----</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none";>AİDA Mimarlık Danışmanlık İnşaat ve Tic. Ltd.Şti.</th>
                <td>Fenerbahçe Spor Kulübü Konukevi Elektrik Projelendirme</td>
                <td>2022</td>
                <td>Kadıköy / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none";>Zehra YILDIRIM TAŞBAŞI</th>
                <td>Emin Residence Elektrik Projelendirme</td>
                <td>2022</td>
                <td>Pendik / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none";>WONG Gıda Sanayi ve Tic.Ltd.Şti.</th>
                <td>Galataport Mağaza Elektrik Projelendirme ve Taahüt & Uygulama</td>
                <td>2022</td>
                <td>Beyoğlu / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none";>AİDA Mimarlık Danışmanlık İnşaat ve Tic. Ltd.Şti.</th>
                <td>Fenerbahçe Şükrü Saraçoğlu Stadı VIP Salonu Elektrik Proje Çizimi</td>
                <td>2022</td>
                <td>Kadıköy / İstanbul </td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none";>HYL İnşaat Turizm ve Reklam Tic.Ltd.Şti.</th>
                <td>Beytist Interior Design Studio</td>
                <td>2022</td>
                <td>Üsküdar / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none";>1900 dor Mimarlık Dekorasyon ve Tic.Ltd.Şti.</th>
                <td>Elektrik Projelendirme ve Uygulama</td>
                <td>2022</td>
                <td>Şişli / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none";>Erhan SAĞIR Mimarlık Tic.Ltd.Şti.</th>
                <td>Akasya AVM - Carluccios Rest. ve Obico Bar Elk. Pro. Taah.& Uyg.</td>
                <td>2022</td>
                <td>Üsküdar / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none";>Dizayn Ofis Tasarım Dan.Mim.İnş.San.Tic.Ltd.Şti.</th>
                <td>Fagor Ofis Elektrik Taahhüt</td>
                <td>2022</td>
                <td>-----</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none";>EFK İnşaat Turizm ve Sanayi A.Ş.</th>
                <td>COOKSHOP - Cadde 54 AVM</td>
                <td>2022</td>
                <td>Serdivan / Sakarya</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none";>EFK İnşaat Turizm ve Sanayi A.Ş.</th>
                <td>COOKSHOP - City's Nişantaşı</td>
                <td>2022</td>
                <td>Şişli / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none";>Akıllı Binalar Tesis Yönetimi A.Ş</th>
                <td>TOBB İstanbul Hizmet Binası Elektrik Uygulamaları</td>
                <td>2022</td>
                <td>Şişli / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none";>A4 Mimarlık ve İnşaat Ltd.Şti.</th>
                <td>ABB Dilovası Elektrik Uygulamaları</td>
                <td>2022</td>
                <td>Dilovası / Kocaeli</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none";>UFO Restaurant İnş.San.Tic.AŞ.</th>
                <td>Muutto Anatolian Tapas Bar - Galataport İstanbul</td>
                <td>2022</td>
                <td>Beyoğlu / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none";>EFK İnşaat Turizm ve Sanayi A.Ş.</th>
                <td>Magnolia - City's Kozyatağı</td>
                <td>2022</td>
                <td>Suadiye / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none";>EFK İnşaat Turizm ve Sanayi A.Ş.</th>
                <td>COOKSHOP Arkabahçe - Meydan AYM</td>
                <td>2022</td>
                <td>Ümraniye / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none";>A4 Mimarlık ve İnşaat Ltd.Şti.</th>
                <td>ABB Hilltown Ofis Elektrik Pro. ve Uyg. İşleri</td>
                <td>2022</td>
                <td>Küçükyalı / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none";>A4 Mimarlık ve İnşaat Ltd.Şti.</th>
                <td>Statkraft Enerji AŞ. Merkez Ofis Elektrik Pro.Taah.& Uyg. - EMAAR SQUARE AVM</td>
                <td>2022</td>
                <td>Üsküdar / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none";>A4 Mimarlık ve İnşaat Ltd.Şti.</th>
                <td>TRUMPF Makina Sanayii A.Ş. Merkez Ofis Elektrik Pro.Taah.& Uyg.</td>
                <td>2022</td>
                <td>Ümraniye / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">UFO Restaurant İnş.San.Tic.AŞ.</th>
                <td>Muutto Fişekhane Mağazası Elektrik Pro.Taah.& Uyg.</td>
                <td>2022</td>
                <td>Zeytinburnu / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">A4 Mimarlık ve İnşaat Ltd.Şti.</th>
                <td>ISS İstanbul Ofis Elektrik Pro.Taah.& Uyg.</td>
                <td>2022</td>
                <td>Kağıthane / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">Zehra YILDIRIM TAŞBAŞI</th>
                <td>Sintaş Boya Arge İç Mimari Elektrik Projelendirme</td>
                <td>2021</td>
                <td>Çerkezköy / Tekirdağ</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">Koparan Mühendislik Yapı ve End.Tes.San.Tic.Ltd.Şti.</th>
                <td>Alkım Tekstil Elektrik Proje Çizimi</td>
                <td>2021</td>
                <td>Esenyurt / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">Dizayna Organizasyon ve Tasarım San.Tic.Ltd.Şti.</th>
                <td>Elektrik ve Zayıf Akım Tesisat İşleri</td>
                <td>2021</td>
                <td>Kağıthane / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">ELIE Restaurant Turizm Yatçılık Tic.Ltd.Şti.</th>
                <td>ELIE Restaurant</td>
                <td>2021</td>
                <td>-----</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">A4 Mimarlık ve İnşaat Ltd.Şti.</th>
                <td>Sumitomo Ofis</td>
                <td>2021</td>
                <td>Şişli / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">A4 Mimarlık ve İnşaat Ltd.Şti.</th>
                <td>T-Systems Ofis</td>
                <td>2021</td>
                <td>-----</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">A4 Mimarlık ve İnşaat Ltd.Şti.</th>
                <td>Özersoylar - Emaar Square AVM Elektrik Projelendirme</td>
                <td>2021</td>
                <td>Üsküdar / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">Punto Yapı ve Ticaret A.Ş</th>
                <td>Bina Elektrik İşleri</td>
                <td>2021</td>
                <td>-----</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">1900 dor Mimarlık & Dekorasyon Ldt.Şti.</th>
                <td>Casper GSM Üretim Tesisi</td>
                <td>2021</td>
                <td>-----</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">EFK İnşaat Turizm ve Sanayi A.Ş.</th>
                <td>COOKSHOP - GALLERİA AVM</td>
                <td>2021</td>
                <td>Ataşehir / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">EFK İnşaat Turizm ve Sanayi A.Ş.</th>
                <td>COOKSHOP - Watergarden AVM</td>
                <td>2021</td>
                <td>Ataşehir / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">The House Cafe Turizm ve Ticaret A.Ş.</th>
                <td>The House Cafe - Metropol AVM</td>
                <td>2021</td>
                <td>Küçükçekmece / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">A4 Mimarlık ve İnşaat Ltd.Şti.</th>
                <td> Trumpf Makine Sanayi A.Ş.- Ofis Elektrik Prj.& Taahhüt</td>
                <td>2021</td>
                <td>Ümraniye / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">A4 Mimarlık ve İnşaat Ltd.Şti.</th>
                <td>Edenred Vadi İstanbul Ofis</td>
                <td>2021</td>
                <td>Sarıyer / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">EFK İnşaat Turizm ve Sanayi A.Ş.</th>
                <td>COOKHOP - Sayapark AVM</td>
                <td>2021</td>
                <td>Yenişehir / Mersin</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">Operatör Onarım Bakım İşl. Taah. Tic. Ltd. Şti.</th>
                <td>Info Yatırım Menkul Değerler Apa Giz Plaza Ofis</td>
                <td>2021</td>
                <td>Şişli / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">EFK İnşaat Turizm ve Sanayi A.Ş.</th>
                <td>COOKSHOP - Optimum AVM</td>
                <td>2021</td>
                <td>Ataşehir / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">EFK İnşaat Turizm ve Sanayi A.Ş.</th>
                <td>COOKSHOP - Şaşkınbakkal Mağaza</td>
                <td>2021</td>
                <td>Kadıköy / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">EFK İnşaat Turizm ve Sanayi A.Ş.</th>
                <td>COOKSHOP - Capacity AVM</td>
                <td>2021</td>
                <td>Bakırköy / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">EFK İnşaat Turizm ve Sanayi A.Ş.</th>
                <td>COOKSHOP - Podyumpark AVM</td>
                <td>2021</td>
                <td>Nilüfer / Bursa</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">Operatör Onarım Bakım İşl. Taah. Tic. Ltd. Şti.</th>
                <td>Mais Üst Yönetim Ofisleri</td>
                <td>2021</td>
                <td>Sarıyer / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">EFK İnşaat Turizm ve Sanayi A.Ş.</th>
                <td>COOKSHOP Sayapark AVM</td>
                <td>2021</td>
                <td>Yenişehir / Mersin</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">EFK İnşaat Turizm ve Sanayi A.Ş.</th>
                <td>COOKSHOP Galataport</td>
                <td>2021</td>
                <td>Beyoğlu / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">Plüton Televizyon Yayıncılık A.Ş.</th>
                <td>Atatürk Olimpiyat Stadı</td>
                <td>2021</td>
                <td>Başakşehir / İstanbul </td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">A4 Mimarlık ve İnşaat Ltd. Şti.</th>
                <td>ABB Hilltown</td>
                <td>2021</td>
                <td>Maltepe / İstanbul</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">EFK İnşaat Turizm ve Sanayi A.Ş.</th>
                <td>COOKSHOP İstinye Park AVM</td>
                <td>2021</td>
                <td>Sarıyer / İstanbul </td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">EFK İnşaat Turizm ve Sanayi A.Ş.</th>
                <td>COOKSHOP Bursa Kent Meydanı AVM</td>
                <td>2021</td>
                <td>Osmangazi / Bursa </td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">EFK İnşaat Turizm ve Sanayi A.Ş.</th>
                <td>COOKSHOP City's İstanbul-Kozyatağı</td>
                <td>2021</td>
                <td>Ataşehir / İstanbul </td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">Indigo Turizm İnşaat Sanayi A.Ş.</th>
                <td>COOKSHOP Yalıkavak</td>
                <td>2021</td>
                <td>Bodrum / Muğla</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">EFK İnşaat Turizm ve Sanayi A.Ş.</th>
                <td>COOKSHOP Meydan AVM</td>
                <td>2021</td>
                <td>Ümraniye / İstanbul </td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">EFK İnşaat Turizm ve Sanayi A.Ş.</th>
                <td>COOKSHOP Erenköy</td>
                <td>2021</td>
                <td>Kadıköy / İstanbul </td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">Digitürk beIN Medya Group</th>
                <td> Krea İçerik Hizmetleri ve Prodüksiyon A.Ş. Elektrik Şebeke Panoları Revizyonu</td>
                <td>2021</td>
                <td>Beşiktaş / İstanbul </td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">EFK İnşaat Turizm ve Sanayi A.Ş.</th>
                <td>COOKSHOP Cadde54 AVM</td>
                <td>2021</td>
                <td>Serdivan / Sakarya </td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">EFK İnşaat Turizm ve Sanayi A.Ş.</th>
                <td>COOKSHOP Avenue AVM</td>
                <td>2021</td>
                <td>Beylikdüzü / İstanbul </td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">A4 Mimarlık ve İnşaat Ltd. Şti.</th>
                <td>ABB Group - Dilovası Elektrik Uygulamaları</td>
                <td>2021</td>
                <td>Gebze / Kocaeli</td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">Erhan Sağır Design Studio</th>
                <td>Mimarlık Ofislerinin Elektrik Uygulamaları</td>
                <td>2021</td>
                <td>Fatih / İstanbul </td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">A4 Mimarlık ve İnşaat Ltd. Şti.</th>
                <td>Trumpf Makine Sanayi Anonoim Şirketi - Sosyal Alan Elektrik Uygulamları</td>
                <td>2021</td>
                <td>Ümraniye / İstanbul </td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">AİDA Mimarlık Danışmanlık İnşaat ve Tic.Ltd.Şti.</th>
                <td>Pernod Ricard S.A.</td>
                <td>2020</td>
                <td>Sariyer / İstanbul </td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">Park Flora Evleri</th>
                <td>Elektrik ve Tesisat Uygulamaları</td>
                <td>2020</td>
                <td>Ümraniye / İstanbul </td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">Zehra YILDIRIM TAŞBAŞI</th>
                <td>Sintaş Boya İç mimari Elektrik Proje Çizimi</td>
                <td>2020</td>
                <td>Çerkezköy / Tekirdağ </td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">A4 Mimarlık ve İnşaat Ltd. Şti.</th>
                <td>TRUMPF Makina Sanayii A.Ş. Dudullu Ofis Elektrik Pro.Taah.& Uyg.</td>
                <td>2020</td>
                <td>Ümraniye / İstanbul </td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">EFK İnşaat Turizm ve Sanayi A.Ş.</th>
                <td>Forum İstanbul AVM Elektrik Tahhüt</td>
                <td>2020</td>
                <td>Bayrampaşa / İstanbul </td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">Başak Yapı Müh.Müt.Mak.San.ve Tic.Ltd.Şti.</th>
                <td>İELEV Konferans Salonu Elektrik Taahhüt</td>
                <td>2020</td>
                <td>Çekmeköy / İstanbul </td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">Başak Havalandırma Ekipmanları A.Ş.</th>
                <td>Ofis Elektrik Uygulamaları</td>
                <td>2020</td>
                <td>Şişli / İstanbul </td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">Sigortacılık Eğitim Merkezi İktisadi İşletmesi</th>
                <td>Ofis Elektrik Uygulamaları</td>
                <td>2020</td>
                <td>Şişli / İstanbul </td>
            </tr>
            <tr>
                <th class="text-dark fw-bold" scope="row" style="display: none">Akıllı Binalar Tesis Yönetimi A.Ş.</th>
                <td>TOBB İstanbul Hizmet Binası 1.Kat Elektrik Taah.</td>
                <td>2020</td>
                <td>Şişli / İstanbul </td>
            </tr>
        </tbody>
    </table>
</div>-->

