
@{
    ViewData["Title"] = "Identity";
    Layout = "~/Views/Shared/_LayoutElement.cshtml";
}

</div>
<!-- Navbar & Hero End -->
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb kurumsal-kimlik">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-white display-3 mb-4 wow fadeInDown" data-wow-delay="0.1s">
            Kurumsal Kimliğimiz</h3>
            <ol class="breadcrumb justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                <li class="breadcrumb-item"><a href="index.html">Anasayfa</a></li>
                <li class="breadcrumb-item active text-primary">Kurumsal Kimliğimiz</li>
            </ol>
    </div>
</div>
<!-- Header End -->
<!-- About Start -->
<div class="container-fluid about col-md-12">
    <div class="container">
        <div class="row justify-content-center">
            <!--<h3 class="title">KURUMSAL KİMLİĞİMİZ</h3>-->
            <div class="col-md-10 m-auto">
                <img class="img-fluid" src="~/img/about-us-page-examples.png">
            </div>
            <p style="text-align: center;">Element Elektrik, enerji sektöründeki tüm taleplere bütçe-zaman etkileşimini gözeterek, optimal mühendislik hizmetleri ile cevap vermektedir. Bilgi ve birikime dayalı yerinde (doğru) yönlendirmeler ile üstlendiği tüm projelerde, teknolojik gelişmeler ve yenilikçi yaklaşımlarla kaliteli hizmet, güven ve karşılıklı memnuniyeti (müşteri memnuniyetini) amaçlamaktadır.</p>


            <div class="col-md-6 m-auto">
                <img class="img-fluid" src="~/img/mvd.jpg">
            </div>
            <p style="text-align: center;">
                Projelerinde doğru çözümler, optimal mühendislik, çağdaş yaklaşımlar, rasyonel kaynak kullanımı,
                zaman-bütçe kısıtını hedef ve ilke edinen Element Elektrik, büyüklük fark etmeksizin değer yaratmaya devam edecektir. <br>
                Projelerimizde gösterdiğimiz çaba, emek – zaman süreci sonucunda tercih edilen bir çözüm merkezi olarak görülmemiz,
                marka ve değer yaratma gayretlerimizin bizim açımızdan sonsuz bir değer ifade ettiğini gösteriyor.
                Ve bu değer, bizlere her geçen gün üzerine ilave ederek büyümenin enerjisini veriyor. <br>
                Hizmet üretirken kaliteye ulaşma ve ulaştırmada, standartlar ve teknik şartlarla uyum içinde olunmasına,
                hizmet üretiminden sonra ise çevreye, bireylere ve kurumlara karşı sorumluluklarımızın olduğu bilinci ile hareket ediyoruz.
            </p>
        </div>
    </div>
</div>
<!-- About End -->
