
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutElement.cshtml";
}

<!-- Carousel Start -->

<div class="header-carousel owl-carousel">
    <div class="header-carousel-item">
        <img src="~/img/electricity_slider.jpg" class="img-fluid w-100" alt="Image">
        <div class="carousel-caption">
            <!-- Slaytlarda yazı istenirse aşağıdaki kod kullanılacak -->
            <div class="carousel-caption-content p-3">

                <h3 class="display-3 text-capitalize text-white mb-4 mt-1  d-none d-sm-block" style="font-size: 3em;">elektrik, yaşamları birbirine bağlar</h3>
                <h3 class="mb-5 mt-0 animated slideInDown text-white fw-bold" style="font-size:calc(2rem + .75vw) ">Proje, Mühendislik ve Taahhüt </h3>
                <p class="mb-5 mt-0 animated slideInDown  d-none d-sm-block" style="font-size: 2em">
                    Keşif Çalışmaları, Proje Çizimleri, Saha Uygulamaları,
                    Trafo Kurulumu, Test & Devreye Alma
                </p>

                <!--<h1 class="text-white text-capitalize fw-bold mb-4" style="letter-spacing: 3px;">elektrik, yaşamları birbirine bağlar</h1>-->
            </div>
        </div>
    </div>


    <div class="header-carousel-item">
        <img src="~/img/smart-building-1-2048x1325.jpg" class="img-fluid w-100" alt="Image">
        <div class="carousel-caption">
            <!-- Slaytlarda yazı istenirse aşağıdaki kod kullanılacak -->
            <div class="carousel-caption-content p-3">
                <h3 class="text-capitalize text-white mb-5 mt-0 fw-bold" style="font-size:calc(1.5rem + .75vw);">Akıllı Binalar, Akıllı Tesisler, <span class="d-sm-br">Akıllı Şehirler</span> </h3>
                <p class="mb-5 fw-bold animated slideInDown d-none d-sm-block" style="font-size: 2em;">
                    Yüksek Verimlilik ve Enerji Tasarrufu, Gerçek Zamanlı Operasyon, İşletme Maliyet Tasarrufu,
                    Akıllı Veriden Faydalanma, Donanım Bakım Kolaylığı
                </p>
                <!--<p class="mb-5 fs-5 fw-bold"> </p> -->
                <!--<h1 class="text-white text-capitalize fw-bold mb-4" style="letter-spacing: 3px;">elektrik, yaşamları birbirine bağlar</h1>-->
            </div>
        </div>
    </div>

    <div class="header-carousel-item">
        <img src="~/img/zayif_akim.jpg" class="img-fluid w-100" alt="Image">
        <div class="carousel-caption">
            <!-- Slaytlarda yazı istenirse aşağıdaki kod kullanılacak -->
            <div class="carousel-caption-content p-3">
                <h3 class="text-white mb-5 mt-8 fw-bold" style="font-size:calc(1.75rem + .75vw);">
                    Zayıf Akım Sistemleri, Tasarım ve Uygulamaları
                    <!--<h3 class="display-3 text-capitalize text-white mb-5 mt-0" style="font-size: 3em;">
                      tasarım ve uygulamaları -->
                    <p class="mb-5 mt-5 fw-bold animated slideInDown d-none d-sm-block" style="font-size: 2rem; font-family: sans-serif;">
                        Yangın Algılama ve Alarm Sistemleri, Acil Anons Sistemleri,
                        Kartlı Geçiş ve Hırsız Alarm Sistemleri, Görüntü Intercom Sistemleri, CCTV, SMA Tv ve IP TV, Data ve Telefon Sistemleri
                    </p>
                    <!--<h1 class="text-white text-capitalize fw-bold mb-4" style="letter-spacing: 3px;">elektrik, yaşamları birbirine bağlar</h1>-->

            </div>
        </div>
    </div>




    <div class="header-carousel-item">
        <img src="~/img/projelendirme.jpg" class="img-fluid w-100" alt="Image">
        <div class="carousel-caption">
            <!-- Slaytlarda yazı istenirse aşağıdaki kod kullanılacak -->
            <div class="carousel-caption-content p-3">
                <h3 class="text-white mb-5 mt-0 fw-bold" style="font-size:calc( 2rem + .75vw); text-shadow: 1px 1px 2px black">Elektrik Taahhüt ve Projelendirme Sistemleri</h3>

                <p class="mb-5 fw-bold animated slideInDown d-none d-sm-block" style="font-size: 1.5em;">
                    <span style="color: black; font-weight: 900; text-shadow: 1px 1px 2px white"> Projelendirme:</span>
                    Üst yapının elektrik gereksinimlerinin karşılanması için tasarım yapılır.
                    <br> <span style="color: black; font-weight: 900; text-shadow: 1px 1px 2px white;"> Amaç: </span> Sürdürülebilir ve güvenle çalışan elektrik sistemleri
                    sağlanması amaçlanır.<br>
                    <span style="color: black; font-weight: 900; text-shadow: 1px 1px 2px white;">Katkı:</span> Enerji tasarrufu, dayanıklı tesisat ve bakım maliyetlerinde azalma sağlanır.


                    <!--<h1 class="text-white text-capitalize fw-bold mb-4" style="letter-spacing: 3px;">elektrik, yaşamları birbirine bağlar</h1>-->

            </div>
        </div>
    </div>


    <div class="header-carousel-item">
        <img src="~/img/lowvoltage.webp" class="img-fluid w-100" alt="Image">
        <div class="carousel-caption">
            <!-- Slaytlarda yazı istenirse aşağıdaki kod kullanılacak -->
            <div class="carousel-caption-content p-3">
                <h3 class="text-capitalize text-white mb-5 mt-0 fw-bold" style="font-size:calc( 2rem + 0.75vw); text-shadow: 1px 1px 2px black">Alçak gerilim hizmetleri</h3>

                <p class="mb-5 fw-bold animated slideInDown d-none d-sm-block" style="font-size: 2em;">
                    <span>&#10003; Busbar Dağıtım Sistemi</span> <br>
                    <span>&#10003; Dağıtım, MCC ve Kompanzasyon Panoları</span> <br>
                    <span>&#10003; Kablo Taşıma Sistemleri</span> <br>
                    <span>&#10003; Aydınlatma Armatür ve Priz Tesisatları</span> <br>
                    <span>&#10003; Çevre Aydınlatma Tesisatları</span> <br>
                    <span>&#10003; Aydınlatma - İklimlendirme Otomasyonu</span> <br>
                    <span>&#10003; SCADA ve Enerji İzleme Otomasyonu</span> <br>
                    <span>&#10003; Kesintisiz Güç Kaynağı (UPS) Sistemi</span> <br>
                    <span>&#10003; Yedek Güç (Jeneratör) Sistemi</span> <br>
                    <span>&#10003; Yıldırımdan Korunma ve Paratoner Sistemi</span> <br>

                    <!--<h1 class="text-white text-capitalize fw-bold mb-4" style="letter-spacing: 3px;">elektrik, yaşamları birbirine bağlar</h1>-->

            </div>
        </div>
    </div>








    <div class="header-carousel-item">
        <img src="~/img/slidernew1.jpg" class="img-fluid w-100" style="object-fit:contain" alt="Image">
        <div class="carousel-caption">
        </div>
    </div>




    <div class="header-carousel-item">
        <img src="~/img/slidernew2.jpg" class="img-fluid w-100" style="object-fit: contain;" alt="Image">
        <div class="carousel-caption">
        </div>
    </div>

</div>

<!-- Carousel End -->
<!-- Navbar & Hero End -->
<!-- Services Start -->
<div class="container-fluid service py-5">
    <div class="container py-5 ">
        <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.2s">
            <div class="sub-style">
                <h4 class="sub-title px-3 mb-0">Neler Yapıyoruz</h4>
            </div>
            <h1 class="display-3 mb-4">Yaşama Enerji Veriyoruz</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded">
                    <div class="service-img rounded-top">
                        <img src="img/proje.jpg" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="service-content rounded-bottom bg-light p-4">
                        <div class="service-content-inner">
                            <h5 class="mb-4">Projelendirme</h5>
                            <p class="mb-4">Projelendirme ile yapıların elektrik sistemlerinin güvenliği, performansı, işlevselliği ve maliyet etkinliği açısından optimize edilmesi sağlanır. Yapılarda amaca uygun konsept ihtiyacını karşılayacak işlevsellik ve devamlılık esaslı projelendirme hizmeti sağlıyoruz.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded">
                    <div class="service-img rounded-top">
                        <img src="img/taahhut.jpg" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="service-content rounded-bottom bg-light p-4">
                        <div class="service-content-inner">
                            <h5 class="mb-4">Taahhüt</h5>
                            <p class="mb-4">Üst yapı ve alt yapı projelerinde kullanım ihtiyacına ve kullanılacak alana göre kuvvetli akım ve zayıf akım sistemleri içerisinde yer alan hizmetlerin sağlanması, devreye alınması ve kontrollerinin yapılması gibi elektrik taahhüt hizmetleri vermekteyiz.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded">
                    <div class="service-img rounded-top">
                        <img src="~/img/muhendislik.jpg" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="service-content rounded-bottom bg-light p-4">
                        <div class="service-content-inner">
                            <h5 class="mb-4">Mühendislik</h5>
                            <p class="mb-4">Yaşam ve çalışma alanlarında, uzmanlık gerektiren mühendislik projelerine optimal çözümlerle yaklaşarak,  tüm proje sürecini disiplinler arası etkileşimle yöneten ve proje yönetim metodolojilerine hakim mühendislik hizmeti sağlamaktayız.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded">
                    <div class="service-img rounded-top">
                        <img src="~/img/danismanlik.jpg" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="service-content rounded-bottom bg-light p-4">
                        <div class="service-content-inner">
                            <h5 class="mb-4">Danışmanlık</h5>
                            <p class="mb-4">Mevzuat değişikliklerinin takip edilmesi, uygulaması, enerji sağlayıcı ve dağıtım şirketlerindeki lisans izinleri, proje ve bağlantı işlemlerinin uygulanması ve takip edilmesi, enerji talep tahminlerinin yapılması ve sistem enerji kalitesinin analizlerinin yapılması gibi danışmanlık hizmetleri vermekteyiz.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded">
                    <div class="service-img rounded-top">
                        <img src="~/img/musavirlik.jpg" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="service-content rounded-bottom bg-light p-4">
                        <div class="service-content-inner">
                            <h5 class="mb-4">Müşavirlik</h5>
                            <p class="mb-4">Enerji sistemlerinin yanlış düzenlenmesi ve işletilmesi yüksek maliyet-düşük verimlilik sorunsalını beraberinde getirir. Enerji maliyetlerini düşürücü ve operasyonel verimliliği arttırmak adına müşavirlik hizmeti sunuyoruz.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->
<!-- about section -->

<section class="about_section layout_padding" style="margin-top: -100px;">

    <div class="container-fluid service py-5">
        <div class="container py-5">
            <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.2s">


                <h2>
                    Element Elektrik <span>Hakkında</span>
                </h2>
                <p>
                    Element Elektrik, doğru yönlendirmeler ile projelerinde, teknolojik gelişmeler ve yenilikçi yaklaşımlarla kaliteli hizmeti amaçlamaktadır.
                </p>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="img-box">
                        <img src="img/hakkimizdaBg1.png" alt="">
                    </div>
                </div>
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="detail-box" style="text-align: justify;">
                        <h3 style="text-align: center;">
                            Bizler Element Elektrik Ailesi Olarak;
                        </h3>

                        <p>
                            Konusunu benimsemiş ve alanında uzmanlaşmış teknik kadro ile çalışıyor,
                            hayata geçirmek istediğiniz projelerinizde ihtiyacınız doğrultusunda çağdaş
                            teknolojiye uygun çözümleri belirlenen limitler dahilinde sunuyoruz. Kısa tedarik
                            süreçleri ve yetkin personeli ile müşteri memnuniyetine odaklanarak optimal çözümler üretiyoruz.
                            Proje süreçlerinin her aşamasını sizinle beraber değerlendirip doğru çözümlerle uyguluyoruz.
                        </p>
                        <p>
                            <h4>Faaliyet Alanlarımız;</h4>Alçak gerilim orta gerilim eneri nakil hattları yapımı,
                            Bina ve direk tipi trafo tesisleri kurulumu, endüstriyel tesislerde aydınlatma, dağıtım panoları, kuvvetli akım kablolama,
                            sac kanal ve kablolama, zayıf akım işleri (data, telefon, kamera, yangın ihbar, seslendirme, acil aydınlatma, acil anons, paratoner, topraklama vb.)
                        </p>
                        <!--<a href="">
                          Read More
                        </a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</section>

<!-- end about section -->
<!-- why section -->

<section class="why_section layout_padding">

    <div class="container fluid service py-5" style="margin-top: -200px;">
        <div class="container py-5">
            <div class="heading_container heading_center section-title mb-5 wow fadeInUp" data-wow-delay="0.2s">
                <h2>
                    NEDEN <span>ELEMENT</span>
                </h2>
            </div>
            <div class="why_container fluid service wow fadeInUp" data-wow-delay="0.2s">
                <div class="box">
                    <div class="img-box mt-4">
                        <img src="~/img/civil-engineering.png" alt="optimalmuhendislik" style="max-width: 100%; max-height: 100%;">
                    </div>
                    <div class="detail-box">
                        <h5>
                            OPTİMAL MÜHENDİSLİK
                        </h5>
                        <p>
                            İşimizi alanında uzman çalışanlarımıza emanet ederek, hizmetlerimizde istikrarlı kaliteyi gözetiyoruz. Müşteri taleplerini dikkatle dinleyerek
                            istişare etmek, projeye dahil ederek sorumluluklarımızı yerine getirmek ve çözüm odaklı yaklaşamımızla mühendislik hizmeti sunuyoruz.
                        </p>
                    </div>
                </div>
                <div class="box">
                    <div class="img-box">
                        <img src="~/img/optimalmuh.jpg" alt="" style="max-width: 100%; max-height: 100%;">
                    </div>
                    <div class="detail-box">
                        <h5>
                            OPTİMAL KAYNAK KULLANIMI
                        </h5>
                        <p>
                            Optimal kaynak kullanımı ile mevcut sınırlılıklar ve koşullar çerçevesinde eldeki kaynaklardan en yüksek fayda yada verimin sağlanması veya elde edilmek
                            istenilen fayda yada verimin en az kaynak kullanımı amaçlanmaktadır.
                        </p>
                    </div>
                </div>
                <div class="box">
                    <div class="img-box">
                        <img src="~/img/uzmankadro.jpg" alt="uzmankadro" style="max-width: 100%; max-height: 100%;">
                    </div>
                    <div class="detail-box">
                        <h5>
                            UZMAN KADRO
                        </h5>
                        <p>
                            <span style="font-weight: bold; -webkit-text-fill-color:black">! Enerjinizi Güvenli Ellerle Taşıyoruz !</span>
                            <br>
                            Elektrik taahhüt hizmetlerinde bilgi ve deneyim, projelerin başarısı için hayati öneme sahiptir. Element Elektrik,
                            bu alandaki geniş tecrübesi ve uzman teknik ekibiyle, sizinle birlikte çalışarak projelerinizin zamanında ve bütçe dahilinde tamamlanmasını sağlar.
                        </p>
                    </div>
                </div>
                <div class="box">
                    <div class="img-box">
                        <img src="~/img/zamanbutce.png" alt="zamanbutce" style="max-width: 100%; max-height: 100%;">
                    </div>
                    <div class="detail-box">
                        <h5>
                            ZAMAN X BÜTÇE KISIT GÖZETİMİ
                        </h5>
                        <p>
                            Incidunt odit rerum tenetur alias architecto asperiores omnis cumque doloribus aperiam numquam! Eligendi corrupti, molestias laborum dolores quod nisi vitae voluptate ipsa? In tempore voluptate ducimus officia id, aspernatur nihil.
                            Tempore laborum nesciunt ut veniam, nemo officia ullam repudiandae repellat veritatis unde reiciendis possimus animi autem natus
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- end why section -->

