
@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_LayoutElement.cshtml";
}

</div>
<!-- Navbar & Hero End -->
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb element-haberler">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-white display-3 mb-4 wow fadeInDown" data-wow-delay="0.1s">Element Elektrik'ten Haberler</h3>
        <ol class="breadcrumb justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
            <li class="breadcrumb-item"><a href="index.html">Anasayfa</a></li>
            <li class="breadcrumb-item active text-primary">Element Haberler</li>
        </ol>
    </div>
</div>
<!-- Header End -->
<!-- element haberler container kısmı starts -->


<div class="container-fluid service py-5">
    <div class="container py-5">
        <div class="row g-4 justify-content-center">






            <div class="col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded">
                    <div class="service-img rounded-top">
                        <img src="~/img/haberler2.jpg" class="img-fluid rounded-top w-100" alt="">
                    </div>
                </div>

                <div class="service-content rounded-bottom bg-light p-3">
                    <div class="service-content-inner">
                        <details class="">
                            <summary>Almanya’da 2023 yılında inşa edilen konutların neredeyse yüzde 70’i ağırlıklı olarak ısı pompası kullanıyor.</summary>
                            <p class="mb-4">
                                Federal İstatistik Ofisi'ne (Destatis) göre, ısı pompalarının Almanya'da birincil ısıtma kaynağı
                                olarak payı son on yılda iki katına çıktı. CLEW haberine göre, 2023 yılında inşaatı onaylanan tüm yeni konut binalarının dörtte
                                üçünden fazlası (yüzde 76) öncelikli olarak ısı pompaları kullanacak ve o yıl tamamlanan yaklaşık 96 bin 800 konut binasının yaklaşık
                                yüzde 65’i birincil ısıtma kaynağı olarak ısı pompalarını kullanacak. Yalnızca bir önceki yılla karşılaştırıldığında ısı pompalarının
                                payı yüzde 8 puan arttı. Veriler, ısı pompalarının çoğunlukla tek ve iki aileli evlerde kullanıldığını gösteriyor: 2023’te tamamlanan
                                tüm tek ve iki aileli evlerin yaklaşık yüzde 69’unda, ısı pompaları birincil ısıtma kaynağı olarak kullanıldı, ancak sıklıkla çok
                                aileli evlerde (yüzde 41) çok daha az kullanıldı.
                            </p>
                        </details>
                    </div>
                </div>
            </div>



            <div class="col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded">
                    <div class="service-img rounded-top">
                        <img src="~/img/haberler1.jpg" class="img-fluid rounded-top w-100" alt="">
                    </div>
                </div>

                <div class="service-content rounded-bottom bg-light p-3">
                    <div class="service-content-inner">
                        <details class="">
                            <summary>Elektrik şirketlerinin planları 2035’e kadar gazdan elektrik üretimini sonlandırmayı içermiyor.</summary>
                            <p class="mb-4">
                                Uluslararası sivil toplum kuruluşları Fosil Yakıtların Ötesinde (Beyond Fossil Fuels) ve Reclaim Finance tarafından Avrupalı elektrik şirketlerinin enerji dönüşüm planlarının ilk kez analiz edildiği rapora göre, şirketler Uluslararası Enerji Ajansı (IEA) ve Hükümetler Arası İklim Değişikliği Paneli'nin tavsiye ettiği şekilde hareket etmiyor.
                                Enel, ENGIE, EPH, Iberdrola ve Statkraft'ın yenilenebilir enerji yatırımlarında umut verici bir artış söz konusu. Ancak, bu 5 büyük elektrik şirketinin iklim hedefleriyle uyumlu olacak şekilde 2035 itibarıyla doğal gazdan elektrik üretimini sonlandırmaya yönelik taahhütleri bulunmuyor ve bu şirketlerden Enel, ENGIE ve EPH ise gazdan elektrik üretim santralleri geliştirmeye de devam ediyor.
                                Rapora göre, bu yönde ilerleyen şirketler Avrupa'da yenilenebilir enerjiye geçişi baltalarken, faaliyet gösterdikleri ülkeleri de daha fazla gaz kullanmaya mecbur bırakacak stratejiler izliyor. Reclaim Finance Proje Koordinatörü Pierre-Alain Sebrecht, rapora ilişkin değerlendirmesinde, EPH, Enel ve ENGIE'nin "sözde geçiş planlarının" fosil yakıtlardan uzaklaşmayı sağlamada başarısız olduğunu belirterek, "Bu haliyle planlar, el freni çekili bir araba kullanmaya benziyor. Yeni gaz yakıtlı elektrik santralleri geliştirme taahhütleri gelecekte de emisyonlara yol açacak ve Avrupa'nın iklim hedeflerine ulaşmasını engelleyecek." ifadelerini kullandı.
                                Şirketlerin finansal destekçilerini net sıfır emisyon taahhütlerini yerine getirememe riskiyle karşı karşıya bırakacaklarını dile getiren Sebrecht, "Finans kuruluşları enerji şirketlerini gerçek geçiş planlarını benimsemeye zorlamalı ve enerji sektörünün karbonsuzlaştırılmasını desteklemeli." uyarısında bulundu.
                                Beyond Fossil Fuels Kampanyacısı Brigitte Alarcon ise bugünkü finansman kararlarının Avrupa'nın 2035'e kadar enerji sektörünü karbonsuzlaştırmada ne kadar başarılı olacağını belirleyeceğinin altını çizdi. IEA'in 2050 Net Sıfır Emisyon senaryosuna göre, 2030'a kadar kömürden elektrik üretiminin sonlandırılmasının yanı sıra, Ekonomik İşbirliği ve Kalkınma Örgütü (OECD) ülkelerinde net sıfır emisyonlu bir enerji sistemi için gazdan elektrik üretiminin de 2035'e kadar sonlandırılması kritik önem taşıyor. Bu senaryo, küresel sıcaklık artışını 1,5 dereceyle sınırlandırmak için yüzde 50 şans sunarken, yatırım ve
                                finansmanın sürdürülebilir enerji kaynaklarına yönelmesi gerektiğini ortaya koyuyor.
                            </p>
                        </details>
                    </div>
                </div>
            </div>







        </div>
    </div>
</div>
<!-- Services End -->
