
@{
    ViewData["Title"] = "OurPolicy";
    Layout = "~/Views/Shared/_LayoutElement.cshtml";
}

</div>
<!-- Navbar & Hero End -->
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb kalite-politikamiz">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-white display-3 mb-4 wow fadeInDown" data-wow-delay="0.1s">
            Kalite Politikamız</h3>
            <ol class="breadcrumb justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                <li class="breadcrumb-item"><a href="index.html">Anasayfa</a></li>
                <li class="breadcrumb-item active text-primary">Kalite Politikamız</li>
            </ol>
    </div>
</div>
<!-- Header End -->
<!-- About Start -->
<div class="container-fluid about py-5">
    <div class="container py-5">
        <!--<h3 class="title mb-3">Kalite Politikamız</h3>-->
        <div class="text-center">
            <img class="~/img-fluid my-3" src="img/kalpol.png">
        </div>
        <p style="text-align: center;">
            Teknolojik gelişmeler ve otomasyon sistemlerindeki ilerlemeleri yakından takip ederek projelerde verimlilik
            artışı sağlayarak optimal sonuçlar yakalamayı hedefliyoruz. Çalışma arkadaşlarımızın bilgi, birikim ve beceri
            düzeylerini artırıcı kurum içi ve kurum dışı eğitim olanakları sağlayarak, gerek proje çalışmalarında gerekse de
            saha uygulamalarında yetkinlik kazandırmayı amaçlıyoruz. Uygulamaların proje ile uyum sorumluluğunu ve zaman – bütçe kısıt ilişkisini gözetiyoruz.
        </p>
    </div>
</div>
<!-- About End -->

