
@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/_LayoutElement.cshtml";
}

</div>
<!-- Navbar & Hero End -->
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb devam-eden-projelerimiz">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-white display-3 mb-4 wow fadeInDown" data-wow-delay="0.1s">
            Devam Eden Projelerimiz</h1>
            <ol class="breadcrumb justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                <li class="breadcrumb-item"><a href="index.html">Anasayfa</a></li>
                <li class="breadcrumb-item active text-primary">Devam Eden Projelerimiz</li>
            </ol>
    </div>
</div>
<!-- Header End -->
<!-- Project Start -->
<div class="container-fluid project py-5">
    <div class="container py-5">
        <div class="row g-4 justify-content-center">

            <div class="col-md-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">


                    <div class="project-img rounded-top">
                        <img src="~/img/aonofis.png" class="img-fluid rounded-top w-100 " alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 class="mb-4" style="text-align: center;">Aon Sigorta ve Reasürans Brokerliği A.Ş.</h5>
                            <p class="mb-4" style="text-align: center;"> 2024 / İstanbul </p>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-md-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">

                    <div class="project-img rounded-top">
                        <img src="~/img/adalet.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">Gaziosmanpaşa Adalet Sarayı</h5>
                            <p style="text-align: center;" class="mb-4">2024 / İstanbul</p>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-md-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/magnoliashop.svg" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">Magnolia Shop - Koşuyolu Şubesi</h5>
                            <p style="text-align: center;" class="mb-4">2024 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/midasofis.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">Midas Menkul Değerler A.Ş Genel Müdürlük</h5>
                            <p style="text-align: center;" class="mb-4">2024 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/babirest.jpg" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">Babi Restaurant - Beykoz Şubesi</h5>
                            <p style="text-align: center;" class="mb-4">2024 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/notaburgeriki.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">Nota Burger - Beylikdüzü Şubesi</h5>
                            <p style="text-align: center;" class="mb-4">2024 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/genclik.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">Yusuf Ziya Öniş Stadyumu</h5>
                            <p style="text-align: center;" class="mb-4">2024 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/cookshoplogo.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">COOKSHOP - Mall Of İstanbul Şubesi</h5>
                            <p style="text-align: center;" class="mb-4">2024 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/magnoliashop.svg" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">Magnolia Shop - Çerkezköy Şubesi</h5>
                            <p style="text-align: center;" class="mb-4">2024 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item rounded">
                    <div class="project-img rounded-top">
                        <img src="~/img/krediyurtlar.png" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="project-content rounded-bottom bg-light p-4">
                        <div class="project-content-inner">
                            <h5 style="text-align: center;" class="mb-4">Yenibosna Kız Öğrenci Yurdu</h5>
                            <p style="text-align: center;" class="mb-4">2024 / İstanbul</p>
                        </div>
                    </div>
                </div>
            </div>












        </div>
    </div>
</div>






<!--<div class="container py-5 text-center" >
   <table class="table table-responsive table-striped table-hover">
       <thead>
           <tr>
               <th scope="col" style="display:none" >Firma Adı</th>
               <th scope="col">Proje Ayrıntısı</th>
               <th scope="col">Proje Yılı</th>
               <th scope="col">Proje İlçe / İl</th>
           </tr>
       </thead>
       <tbody>
           <tr>
               <th class="text-dark fw-bold" style="display: none"; scope="row">Mavi Yapı Mimarlık</th>
               <td>AON Ofis Elektrik Uygulama İşleri</td>
               <td>2024</td>
               <td>Ümraniye / İstanbul</td>
           </tr>-->
<!--<tr>
     <th class="text-dark fw-bold" scope="row" style="display:none">Beca Yapı</th>
     <td>Gaziosmanpaşa Adliye Sarayı</td>
     <td>2024</td>
     <td>Eyüpsultan / İstanbul</td>
 </tr>-->
<!--<tr>
    <th class="text-dark fw-bold" style="display: none;" scope="row">Ensar İnşaat</th>
    <td>Beşiktaş Çırağan Otel Elektrik Uygulama İşleri</td>
    <td>2024</td>
    <td>Beşiktaş / İstanbul</td>
</tr>-->
<!--<tr>
    <th class="text-dark fw-bold" scope="row" style="display:none";>A4 Mimarlık ve İnşaat Ltd. Şti.</th>
    <td>Midas Ofis Elektrik Uygulama İşleri</td>
    <td>2024</td>
    <td>Üsküdar / İstanbul</td>
</tr>-->
<!--<tr>
        <th class="text-dark fw-bold" scope="row" style="display:none";>EFK İnşaat Turizm ve Sanayi A.Ş.</th>
        <td>Magnolia - Koşuyolu</td>
        <td>2024</td>
        <td>Kadıköy / İstanbul</td>
    </tr>-->
<!--<tr>
                <th class="text-dark fw-bold" scope="row" style="display:none": none;>EFK İnşaat Turizm ve Sanayi A.Ş.</th>
                <td>Magnolia - Çerkezköy</td>
                <td>2024</td>
                <td>Çerkezköy / Tekirdağ</td>
</tr>

            <tr>
                <th class="text-dark fw-bold" scope="row" style="display:none": none;>Erhan Sağır Mimarlık Ticaret Ltd. Şti.</th>
                <td>Babi Restaurant - Beykoz</td>
                <td>2024</td>
                <td>Beykoz / İstanbul</td>
            </tr>

            <tr>
                <th class="text-dark fw-bold" scope="row" style="display:none": none;>EFK İnşaat Turizm ve Sanayi A.Ş.</th>
                <td>NOTA Burger Beylikdüzü</td>
                <td>2024</td>
                <td>Beylikdüzü / İstanbul</td>
            </tr>


            <tr>
                <th class="text-dark fw-bold" scope="row" style="display:none": none;>3 Asil Mimarlık</th>
                <td>Yenibosna Kız Öğrenci Yurdu</td>
                <td>2023</td>
                <td>Yenibosna / İstanbul</td>
            </tr>

            <tr>
                <th class="text-dark fw-bold" scope="row" style="display:none": none;>EFK İnşaat Turizm ve Sanayi A.Ş.</th>
                <td>COOKSHOP - Mall of İstanbul</td>
                <td>2023</td>
                <td>Başakşehir / İstanbul</td>
            </tr>

            <tr>
                <th class="text-dark fw-bold" scope="row" style="display:none": none;>3 Asil Mimarlık</th>
                <td>Yusuf Ziya Öniş Stadı Elektrik Uygulama İşleri</td>
                <td>2023</td>
                <td>Sarıyer / İstanbul</td>
            </tr>

</tbody>
</table>
</div>


