
@{
    ViewData["Title"] = "Referances";
    Layout = "~/Views/Shared/_LayoutElement.cshtml";
}

</div>
<!-- Navbar & Hero End -->
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb referanslarimiz">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-white display-3 mb-4 wow fadeInDown" data-wow-delay="0.1s">
            Referanslarımız</h3>
            <ol class="breadcrumb justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                <li class="breadcrumb-item"><a href="index.html">Anasayfa</a></li>
                <li class="breadcrumb-item active text-primary">Referanslarımız</li>
            </ol>
    </div>
</div>
<!-- Header End -->

<div class="container-fluid references py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">

            <div class="col-lg-4 align-items-center section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img src="~/img/referanslar - firmalogolari/25genclik.png" class="img-fluid">
            </div>
            <div class="col-lg-4 align-items-center section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img src="~/img/referanslar - firmalogolari/1magnolialogo.png" class="img-fluid">
            </div>
            <div class="col-lg-4 align-items-center section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img src="~/img/referanslar - firmalogolari/2cookshoplogo.png" class="img-fluid">
            </div>
            <div class="col-lg-4 align-items-center section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img src="~/img/referanslar - firmalogolari/3carluccioslogo.png" class="img-fluid align-items-center">
            </div>
            <div class="col-lg-4 align-items-center section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img src="~/img/referanslar - firmalogolari/6tobblogo.png" style="margin: 0px;" class="img-fluid">
            </div>
            <div class="col-lg-4 align-items-center section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img src="~/img/referanslar - firmalogolari/7ozersoylarlogo.png" class="img-fluid">
            </div>
            <div class="col-lg-4 align-items-center section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img src="~/img/referanslar - firmalogolari/8sintaslogo.png" class="img-fluid">
            </div>
            <div class="col-lg-4 align-items-center section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img src="~/img/referanslar - firmalogolari/9sumitomologo.png" class="img-fluid">
            </div>
            <div class="col-lg-4 align-items-center section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img src="~/img/referanslar - firmalogolari/10tsystemslogo.png" class="img-fluid">
            </div>
            <div class="col-lg-4 align-items-center section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img src="~/img/referanslar - firmalogolari/kyklogo.png" class="img-fluid">
            </div>
            <div class="col-lg-4 align-items-center section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img src="~/img/referanslar - firmalogolari/11fortinetlogo.png" class="img-fluid">
            </div>
            <div class="col-lg-4 align-items-center section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img src="~/img/referanslar - firmalogolari/12ticketlogo.png" class="img-fluid">
            </div>
            <div class="col-lg-4 align-items-center section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img src="~/img/referanslar - firmalogolari/13abblogo.png" class="img-fluid">
            </div>
            <div class="col-lg-4 align-items-center section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img src="~/img/referanslar - firmalogolari/14digiturklogo.png" class="img-fluid">
            </div>
            <div class="col-lg-4 align-items-center section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img src="~/img/referanslar - firmalogolari/15ielevlogo.png" class="img-fluid">
            </div>
            <div class="col-lg-4 align-items-center section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img src="~/img/referanslar - firmalogolari/16infoyatirimlogo.png" class="img-fluid">
            </div>
            <div class="col-lg-4 align-items-center section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img src="~/img/referanslar - firmalogolari/17fagorlogo.png" class="img-fluid align-items-center">
            </div>
            <div class="col-lg-4 align-items-center section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img src="~/img/referanslar - firmalogolari/18muuttologo.png" class="img-fluid">
            </div>
            <div class="col-lg-4 align-items-center section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img src="~/img/referanslar - firmalogolari/19beytistlogo.png" class="img-fluid">
            </div>
            <div class="col-lg-4 align-items-center section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img src="~/img/referanslar - firmalogolari/20roketsanlogo.png" class="img-fluid">
            </div>
            <div class="col-lg-4 align-items-center section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img src="~/img/referanslar - firmalogolari/21eminresidencelogo.png" class="img-fluid">
            </div>
            <div class="col-lg-4 align-items-center section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img src="~/img/referanslar - firmalogolari/23statkraftlogo.png" class="img-fluid">
            </div>
            <div class="col-lg-4 align-items-center section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img src="~/img/referanslar - firmalogolari/24alkimlogo.png" class="img-fluid">
            </div>
            <div class="col-lg-4 align-items-center section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img src="~/img/referanslar - firmalogolari/26vakiflar.png" class="img-fluid">
            </div>
            <div class="col-lg-4 align-items-center section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img src="~/img/referanslar - firmalogolari/27adalet.png" class="img-fluid">
            </div>
            <div class="col-lg-4 align-items-center section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img src="~/img/referanslar - firmalogolari/28mke.png" class="img-fluid">
            </div>
            <div class="col-lg-4 align-items-center section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img src="~/img/referanslar - firmalogolari/29thehunger.png" class="img-fluid">
            </div>
            <div class="col-lg-4 align-items-center section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img src="~/img/referanslar - firmalogolari/30bntelekom.png" class="img-fluid">
            </div>
            <div class="col-lg-4 align-items-center section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img src="~/img/referanslar - firmalogolari/31marslojistik.png" class="img-fluid">
            </div>
            <div class="col-lg-4 align-items-center section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img src="~/img/referanslar - firmalogolari/32trumpf.png" class="img-fluid">
            </div>
            <div class="col-lg-4 align-items-center section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img src="~/img/referanslar - firmalogolari/33omsanlojistik.png" class="img-fluid">
            </div>
            <div class="col-lg-4 align-items-center section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img src="~/img/referanslar - firmalogolari/34isslogo.png" class="img-fluid">
            </div>
            <div class="col-lg-4 align-items-center section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img src="~/img/referanslar - firmalogolari/35pernord.png" class="img-fluid">
            </div>
            <div class="col-lg-4 align-items-center section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img src="~/img/referanslar - firmalogolari/cafenerologo.png" class="img-fluid">
            </div>
            <div class="col-lg-4 align-items-center section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <img src="~/img/referanslar - firmalogolari/witturlogo.png" class="img-fluid">
            </div>


        </div>
    </div>
</div>