@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Oops! Something went wrong.</h1>
<div>
    <h2>An error occurred while processing your request.</h2>
    <p>
        If you need immediate assistance, please contact support.
    </p>
    <p>
        Request ID: <code>@ViewData["RequestId"]</code>
    </p>
</div>