USE [master]
GO
/****** Object:  Database [SantiyeTalepDb]    Script Date: 15.10.2025 13:12:59 ******/
CREATE DATABASE [SantiyeTalepDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SantiyeTalepDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SantiyeTalepDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SantiyeTalepDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SantiyeTalepDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SantiyeTalepDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SantiyeTalepDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 15.10.2025 13:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 15.10.2025 13:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Brands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 15.10.2025 13:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryBrands]    Script Date: 15.10.2025 13:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryBrands](
	[BrandId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_CategoryBrands] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC,
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 15.10.2025 13:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[SiteId] [int] NOT NULL,
	[Position] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 15.10.2025 13:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](1000) NOT NULL,
	[Type] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[UserId] [int] NULL,
	[RequestId] [int] NULL,
	[OfferId] [int] NULL,
	[SupplierId] [int] NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Offers]    Script Date: 15.10.2025 13:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Offers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RequestId] [int] NOT NULL,
	[SupplierId] [int] NOT NULL,
	[Brand] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Currency] [int] NOT NULL,
	[Discount] [decimal](5, 2) NOT NULL,
	[DeliveryType] [int] NOT NULL,
	[DeliveryDays] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[OfferDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Offers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requests]    Script Date: 15.10.2025 13:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[SiteId] [int] NOT NULL,
	[ProductDescription] [nvarchar](max) NOT NULL,
	[Quantity] [int] NOT NULL,
	[DeliveryType] [int] NOT NULL,
	[Description] [nvarchar](2000) NULL,
	[Status] [int] NOT NULL,
	[RequestDate] [datetime2](7) NOT NULL,
	[IsRead] [bit] NOT NULL,
 CONSTRAINT [PK_Requests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiteBrands]    Script Date: 15.10.2025 13:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiteBrands](
	[SiteId] [int] NOT NULL,
	[BrandId] [int] NOT NULL,
 CONSTRAINT [PK_SiteBrands] PRIMARY KEY CLUSTERED 
(
	[SiteId] ASC,
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sites]    Script Date: 15.10.2025 13:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sites](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Sites] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 15.10.2025 13:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CompanyName] [nvarchar](255) NOT NULL,
	[TaxNumber] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[Status] [int] NOT NULL,
	[ApprovalNote] [nvarchar](max) NULL,
	[RejectionReason] [nvarchar](max) NULL,
	[ApprovedDate] [datetime2](7) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 15.10.2025 13:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Role] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[FcmToken] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251015075332_CreateDatabase', N'9.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251015092335_AddCreatedDateToEmployee', N'9.0.8')
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([Id], [Name], [IsActive]) VALUES (1, N'2M Kablo', 1)
INSERT [dbo].[Brands] ([Id], [Name], [IsActive]) VALUES (2, N'Abb Otomasyon', 1)
INSERT [dbo].[Brands] ([Id], [Name], [IsActive]) VALUES (3, N'Abb Şalt', 1)
GO
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'KABLO')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'ŞALT')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (3, N'AYDINLATMA')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
INSERT [dbo].[CategoryBrands] ([BrandId], [CategoryId]) VALUES (1, 1)
INSERT [dbo].[CategoryBrands] ([BrandId], [CategoryId]) VALUES (2, 2)
INSERT [dbo].[CategoryBrands] ([BrandId], [CategoryId]) VALUES (3, 2)
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [UserId], [SiteId], [Position], [CreatedDate]) VALUES (1, 2, 1, N'İşçi', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Employees] ([Id], [UserId], [SiteId], [Position], [CreatedDate]) VALUES (2, 3, 1, N'Formen', CAST(N'2025-10-15T12:28:11.0485036' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([Id], [Title], [Message], [Type], [CreatedDate], [IsRead], [UserId], [RequestId], [OfferId], [SupplierId]) VALUES (1, N'Yeni Talep Oluşturuldu', N'Semih Bener (Fatih Sultan Mehmet Erkek ÖğRenci Yurdu) yeni bir talep oluşturdu: 1X1  (mm²)  (NYA HF)  H05Z1-U 300/500 V K.RENGİ', 2, CAST(N'2025-10-15T13:01:21.7824885' AS DateTime2), 1, 1, 1, NULL, NULL)
INSERT [dbo].[Notifications] ([Id], [Title], [Message], [Type], [CreatedDate], [IsRead], [UserId], [RequestId], [OfferId], [SupplierId]) VALUES (2, N'Yeni Talep Oluşturuldu', N'Semih Bener (Fatih Sultan Mehmet Erkek ÖğRenci Yurdu) yeni bir talep oluşturdu: 1 mm NYA BEYAZ', 2, CAST(N'2025-10-15T13:01:46.7348011' AS DateTime2), 1, 1, 2, NULL, NULL)
INSERT [dbo].[Notifications] ([Id], [Title], [Message], [Type], [CreatedDate], [IsRead], [UserId], [RequestId], [OfferId], [SupplierId]) VALUES (3, N'Yeni Teklif Talebi', N'Yeni bir teklif talebi aldınız: 1X1  (mm²)  (NYA HF)  H05Z1-U 300/500 V K.RENGİ (Miktar: 100). Şantiye: Fatih Sultan Mehmet Erkek ÖğRenci Yurdu. Lütfen teklifinizi verin.', 10, CAST(N'2025-10-15T13:02:42.8893899' AS DateTime2), 0, 4, 1, NULL, 1)
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Offers] ON 

INSERT [dbo].[Offers] ([Id], [RequestId], [SupplierId], [Brand], [Description], [Quantity], [Price], [Currency], [Discount], [DeliveryType], [DeliveryDays], [Status], [OfferDate]) VALUES (1, 2, 1, N'Öznur Kablo', N'1 mm NYA BEYAZ', 50, CAST(100.00 AS Decimal(18, 2)), 3, CAST(15.50 AS Decimal(5, 2)), 4, 2, 2, CAST(N'2025-10-15T10:10:39.6565271' AS DateTime2))
INSERT [dbo].[Offers] ([Id], [RequestId], [SupplierId], [Brand], [Description], [Quantity], [Price], [Currency], [Discount], [DeliveryType], [DeliveryDays], [Status], [OfferDate]) VALUES (2, 1, 1, N'Hes Kablo', N'1X1  (mm²)  (NYA HF)  H05Z1-U 300/500 V K.RENGİ', 100, CAST(100.00 AS Decimal(18, 2)), 2, CAST(25.45 AS Decimal(5, 2)), 4, 2, 2, CAST(N'2025-10-15T10:10:39.7791383' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Offers] OFF
GO
SET IDENTITY_INSERT [dbo].[Requests] ON 

INSERT [dbo].[Requests] ([Id], [EmployeeId], [SiteId], [ProductDescription], [Quantity], [DeliveryType], [Description], [Status], [RequestDate], [IsRead]) VALUES (1, 1, 1, N'1X1  (mm²)  (NYA HF)  H05Z1-U 300/500 V K.RENGİ', 100, 3, N'', 3, CAST(N'2025-10-15T13:01:21.7325661' AS DateTime2), 0)
INSERT [dbo].[Requests] ([Id], [EmployeeId], [SiteId], [ProductDescription], [Quantity], [DeliveryType], [Description], [Status], [RequestDate], [IsRead]) VALUES (2, 1, 1, N'1 mm NYA BEYAZ', 50, 2, N'Açıklama', 3, CAST(N'2025-10-15T13:01:46.7245523' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Requests] OFF
GO
INSERT [dbo].[SiteBrands] ([SiteId], [BrandId]) VALUES (1, 118)
INSERT [dbo].[SiteBrands] ([SiteId], [BrandId]) VALUES (1, 210)
INSERT [dbo].[SiteBrands] ([SiteId], [BrandId]) VALUES (1, 224)
GO
SET IDENTITY_INSERT [dbo].[Sites] ON 

INSERT [dbo].[Sites] ([Id], [Name], [Address], [Description], [IsActive], [CreatedDate]) VALUES (1, N'Fatih Sultan Mehmet Erkek ÖğRenci Yurdu', N'Esenler/İstanbul', N'', 1, CAST(N'2025-10-15T08:13:37.3368075' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Sites] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([Id], [UserId], [CompanyName], [TaxNumber], [Address], [Status], [ApprovalNote], [RejectionReason], [ApprovedDate], [CreatedDate]) VALUES (1, 4, N'URSSOFT TEKNOLOJİ A.Ş.', N'8940962406', N'Perpa 5.Kat No:35', 2, NULL, NULL, NULL, CAST(N'2025-10-15T09:36:04.1590326' AS DateTime2))
INSERT [dbo].[Suppliers] ([Id], [UserId], [CompanyName], [TaxNumber], [Address], [Status], [ApprovalNote], [RejectionReason], [ApprovedDate], [CreatedDate]) VALUES (2, 5, N'SİMAY ELEKTRİK A.Ş.', N'89409602407', N'Perpa 8. Kat No:101', 2, NULL, NULL, NULL, CAST(N'2025-10-15T09:59:43.3594983' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Email], [Password], [FullName], [Phone], [Role], [IsActive], [CreatedDate], [FcmToken]) VALUES (1, N'admin@santiye.com', N'$2a$11$V070yifCQwjKA5g1Ag/FHeqNHjWyUZTZC.cE3Q3nZueVTUr4up4x.', N'Sistem Yöneticisi', N'05366295131', 1, 1, CAST(N'2024-01-01T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Users] ([Id], [Email], [Password], [FullName], [Phone], [Role], [IsActive], [CreatedDate], [FcmToken]) VALUES (2, N'test.altanemre1989@gmail.com', N'$2a$11$JonVquWZ7Z8ugBaaMrMiAuDNlZj37bl4xekkIq4NuQoGOF8Pd7jPa', N'Semih Bener', N'05366295134', 2, 1, CAST(N'2025-10-15T08:14:00.9072362' AS DateTime2), NULL)
INSERT [dbo].[Users] ([Id], [Email], [Password], [FullName], [Phone], [Role], [IsActive], [CreatedDate], [FcmToken]) VALUES (3, N'test.altanemre1990@gmail.com', N'$2a$11$Z32mC5z5.kN9RensLiknY.FT1csFu5SW/4YDrjoESkipHkaMmmnPK', N'Uğur Aksoy', N'05366295135', 2, 1, CAST(N'2025-10-15T09:28:10.9221527' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_CategoryBrands_BrandId]    Script Date: 15.10.2025 13:12:59 ******/
CREATE NONCLUSTERED INDEX [IX_CategoryBrands_BrandId] ON [dbo].[CategoryBrands]
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employees_SiteId]    Script Date: 15.10.2025 13:12:59 ******/
CREATE NONCLUSTERED INDEX [IX_Employees_SiteId] ON [dbo].[Employees]
(
	[SiteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employees_UserId]    Script Date: 15.10.2025 13:12:59 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Employees_UserId] ON [dbo].[Employees]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_OfferId]    Script Date: 15.10.2025 13:12:59 ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_OfferId] ON [dbo].[Notifications]
(
	[OfferId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_RequestId]    Script Date: 15.10.2025 13:12:59 ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_RequestId] ON [dbo].[Notifications]
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_SupplierId]    Script Date: 15.10.2025 13:12:59 ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_SupplierId] ON [dbo].[Notifications]
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_UserId]    Script Date: 15.10.2025 13:12:59 ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_UserId] ON [dbo].[Notifications]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Offers_RequestId]    Script Date: 15.10.2025 13:12:59 ******/
CREATE NONCLUSTERED INDEX [IX_Offers_RequestId] ON [dbo].[Offers]
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Offers_SupplierId]    Script Date: 15.10.2025 13:12:59 ******/
CREATE NONCLUSTERED INDEX [IX_Offers_SupplierId] ON [dbo].[Offers]
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Requests_EmployeeId]    Script Date: 15.10.2025 13:12:59 ******/
CREATE NONCLUSTERED INDEX [IX_Requests_EmployeeId] ON [dbo].[Requests]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Requests_SiteId]    Script Date: 15.10.2025 13:12:59 ******/
CREATE NONCLUSTERED INDEX [IX_Requests_SiteId] ON [dbo].[Requests]
(
	[SiteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SiteBrands_BrandId]    Script Date: 15.10.2025 13:12:59 ******/
CREATE NONCLUSTERED INDEX [IX_SiteBrands_BrandId] ON [dbo].[SiteBrands]
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Suppliers_UserId]    Script Date: 15.10.2025 13:12:59 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Suppliers_UserId] ON [dbo].[Suppliers]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 15.10.2025 13:12:59 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedDate]
GO
ALTER TABLE [dbo].[CategoryBrands]  WITH CHECK ADD  CONSTRAINT [FK_CategoryBrands_Brands_BrandId] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brands] ([Id])
GO
ALTER TABLE [dbo].[CategoryBrands] CHECK CONSTRAINT [FK_CategoryBrands_Brands_BrandId]
GO
ALTER TABLE [dbo].[CategoryBrands]  WITH CHECK ADD  CONSTRAINT [FK_CategoryBrands_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[CategoryBrands] CHECK CONSTRAINT [FK_CategoryBrands_Categories_CategoryId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Sites_SiteId] FOREIGN KEY([SiteId])
REFERENCES [dbo].[Sites] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Sites_SiteId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Users_UserId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Offers_OfferId] FOREIGN KEY([OfferId])
REFERENCES [dbo].[Offers] ([Id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Offers_OfferId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Requests_RequestId] FOREIGN KEY([RequestId])
REFERENCES [dbo].[Requests] ([Id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Requests_RequestId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Suppliers_SupplierId] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([Id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Suppliers_SupplierId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users_UserId]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [FK_Offers_Requests_RequestId] FOREIGN KEY([RequestId])
REFERENCES [dbo].[Requests] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [FK_Offers_Requests_RequestId]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [FK_Offers_Suppliers_SupplierId] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([Id])
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [FK_Offers_Suppliers_SupplierId]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_Sites_SiteId] FOREIGN KEY([SiteId])
REFERENCES [dbo].[Sites] ([Id])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_Sites_SiteId]
GO
ALTER TABLE [dbo].[SiteBrands]  WITH CHECK ADD  CONSTRAINT [FK_SiteBrands_Brands_BrandId] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brands] ([Id])
GO
ALTER TABLE [dbo].[SiteBrands] CHECK CONSTRAINT [FK_SiteBrands_Brands_BrandId]
GO
ALTER TABLE [dbo].[SiteBrands]  WITH CHECK ADD  CONSTRAINT [FK_SiteBrands_Sites_SiteId] FOREIGN KEY([SiteId])
REFERENCES [dbo].[Sites] ([Id])
GO
ALTER TABLE [dbo].[SiteBrands] CHECK CONSTRAINT [FK_SiteBrands_Sites_SiteId]
GO
ALTER TABLE [dbo].[Suppliers]  WITH CHECK ADD  CONSTRAINT [FK_Suppliers_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Suppliers] CHECK CONSTRAINT [FK_Suppliers_Users_UserId]
GO
USE [master]
GO
