
details.sort {
  display: inline-block;
  cursor: pointer;
  position: relative;
}
details.sort summary {
  list-style: "";
}
details.sort summary::-webkit-details-marker {
  display: none;
}
details.sort summary {
  position: relative;
  padding-right: 1rem;
  margin-right: 1rem;
}
details.sort summary::after {
  content: "";
  position: absolute;
  right: 0;
  top: 5px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid var(--gray-font);
  clear: both;
}
details[open] summary::before {
  content: "";
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  cursor: auto;
}
details.sort ul {
  display: block;
  position: absolute;
  background-color: var(--top-background);
  padding: 0.5rem 0;
  margin: 0;
  border: 1px solid #ccc;
  z-index: 10;
  top: 1.5rem;
  width: 200px;
  list-style: none;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: 0;
}
details.sort ul li a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  width: calc(200px - 2rem);
}
details {
  margin: 2rem;
}
